@import play.Play
<h1>A + B</h1>
<table>
    <tr>
        <td>Time Limit</td>
        <td>@Play.application().configuration().getInt("problem.timelimit") ms</td>
    </tr>
    <tr>
        <td>Memory Limit</td>
        <td>@Play.application().configuration().getInt("problem.memorylimit") byte</td>
    </tr>
</table>

<h2><font size="4" color="#ff0000"><a name="SECTION0001001000000000000000">
    Input</a> &nbsp;
</font>
</h2>

<p>
    A line with two numbers <span class="MATH"><i>
    A</i>
</span> and <span class="MATH"><i>B</i></span>, separated by a space.

</p> <p>

</p> <h2><font size="4" color="#ff0000"><a name="SECTION0001002000000000000000">
    Output</a> &nbsp;
</font>
</h2>

<p>
    The result of <span class="MATH"><i>A + B</i></span>.

</p> <p>

</p> <h2><font size="4" color="#ff0000"><a name="SECTION0001003000000000000000">
    Sample Input</a> &nbsp;
</font>
</h2>
<p></p>
<pre>1 2</pre>

<p>

</p> <h2><font size="4" color="#ff0000"><a name="SECTION0001004000000000000000">
    Sample Output</a> &nbsp;
</font>
</h2>

<p>
</p>
<pre>3</pre>

<p>
    Download templates <a href="@routes.Application.template()">here</a>.
</p>
@helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
    <input type="file" name="submission">

    <p>
        <input type="submit">
    </p>

}